<head>
	<link rel="stylesheet" type="text/css" href="css/core.css">
	<script src="javascript/jquery-2.0.3.min.js"></script>
    <script src="javascript/core.js"></script>
</head>

<h1>COMPARE TABLES<h1>

</br>
</br>
<button class='newprocess'>New Process</button>
</br>
<button class='status'>Status</button>
</br>
<div class='data'>